.container {
 position: fixed;
 top: 0px ;
 left: 0px ;
 height: 101vh;
 width: 101vw ;
 background-color: rgb(0, 0, 0);
 z-index: 1000000;
 display: flex ;
 align-items: center;
 justify-content: center; 
}

.button {
  margin: 5px;
  border-bottom: 3px solid ;
  background-color: #F1F085 ;
}