.container {
  position: absolute;
  top: 0 ;
  left: 0 ;
  width: 98vw;
  height: 70vh;
  /* background-color: red ; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardArea {
  width: 100% ;
}

.card {
  width: 400px;
  min-height: 200px ;
  padding: 5px ;
}
.header {
  margin-top: 10px;
  
}

.body {
  margin: auto ;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;  
}

.img {
  margin: 10px;
  border-radius: 4px;
}