@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.appbar {
  /* width: 100vw , */
  /* display: flex ;
  flex-direction: row ; */
  height:min(100px,10vh);
  overflow: hidden ;
  /* justify-content: space-around;  */
  
}
.toolbar {
  /* width: 100vw , */
  display: flex ;
  flex-direction: row ;
  /* height:min(100px,10vh); */
  justify-content: flex-end; 
  overflow: hidden ;
  
}

.stack {
  display: flex ;
  align-items: center;
  justify-content: center;
  overflow: hidden ;
}

.link {
  text-decoration: underline ; 
  text-decoration-color: transparent ;
  color : #171A21;
  font-size: 23px ;
  transition: all .5s ease ;
   font-family: 'Pacifico','Great Vibes', cursive;
}

.link:hover {
  /* text-decoration: underline ;  */
  transform: scale(1.1) rotateZ(1.5deg);
  color : #1d212b;
}