.outterDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0 ;
  margin-top: 0;
}

.box{
  width: 100%;
  min-height:98vh;
 
  /* display: flex ; */

  /* align-items: center; */
  /* justify-content: center; */
  
}

.name {
  width: 70% ;
}

.stack {
  border: 1px solid #3C6A48 ;
}

 .display {
  /* display: flex ;
  flex-direction: column; */
  /* background-color: blueviolet; */
  /* width: 100%;
  height: auto; */
} 

.grid{
  /* background-color: #08110F; */
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */  
  padding-left: 105px; 
  margin-right: auto;
}

.ingrid{
  margin-top: 35px;
}

.label {                                
  color: #08110F;
}

.farmer {
  min-height: 60vh;
  /* background-image: radial-gradient(circle, #f1f085, #d2d376, #b4b768, #989c5a, #7d814c); */
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 5px 120px;
  /* background-color: bisque; */
}

.ingridTop{
  margin-bottom: 100px;
}



