.box {
  display: flex ;
  align-items: center;
  justify-content: center;
  width:100%;
  min-height: 89vh;
  /* background-color: brown; */
  /* padding-left:50px; */
}

.card {
  height: 200px;
  background-color:#F9F871;
  color: #e84855;
  margin: auto;
}