.box {
  margin: 20px;
  padding: 20px;
  width: 45vw ;
  max-width: 620px;
  height: 400px;
  background-color: #F9F871;
}

.field {
  padding-right: 30px;
  /* background-color: #000 */
}

.button {
  padding-left: 30px;
}