.card {
  height: 200px;
  width: 400px ;
  display: flex;
  flex-direction: row;
  background-color:#F9F871;
  border-radius: 4px;
  /* color: #e84855; */
}



.link {
  text-decoration: none;
  color: #08110F;
  /* color: #e84855 */
}

.link:visited {
  text-decoration: none;
  color: #08110F;
}

.card:hover, .card:active {
  text-decoration: none;
  color: #e84855;
  cursor: pointer;
}


.content {
  width: 195px;
  height: 200px;
  /* background-color: #e84855; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto ;  
}

.media {
  padding: 0 ;
  margin-bottom: 33px ;
  /* margin-left: -50px; */
}

.cardAction{
  display: flex;
  flex-direction: row;  
}